name: Checks

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Use Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.x
          cache: yarn

      - name: Install
        run: yarn install --immutable

      - name: Lint
        continue-on-error: true
        run: yarn lint -f @microsoft/sarif -o eslint-results.sarif
        env:
          GITHUB_SCHEMA_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v4.32.2
        with:
          sarif_file: eslint-results.sarif
          wait-for-processing: true

  prettier:
    name: 'Prettier'
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Use Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.x
          cache: yarn

      - name: Install
        run: yarn install --immutable

      - name: Prettier
        run: yarn format:check
