name: Checks

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.x
          cache: yarn

      - name: Install
        run: yarn install --immutable

      - name: Lint
        continue-on-error: true
        run: yarn lint -f @microsoft/sarif -o eslint-results.sarif
        env:
          GITHUB_ENDPOINT: 'https://api.github.com/graphql'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v4.31.9
        with:
          sarif_file: eslint-results.sarif
          wait-for-processing: true

  codegen:
    name: 'Codegen'
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.x
          cache: yarn

      - name: Install
        run: yarn install --immutable

      - name: Codegen
        run: yarn codegen:check
        env:
          GITHUB_ENDPOINT: 'https://api.github.com/graphql'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  prettier:
    name: 'Prettier'
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.x
          cache: yarn

      - name: Install
        run: yarn install --immutable

      - name: Prettier
        run: yarn format:check
